spring:
  application:
    name: KilimoConnect

  datasource:
    url: jdbc:postgresql://localhost:5432/kilimoconnect_ke
    username: DJK
    password: "@MeconE_21"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      fail-on-empty-beans: false

server:
  port: 9090

africastalking:
  sername: YOUR_USERNAME
  apiKey: YOUR_API_KEY

logging:
  level:
    org:
      springframework:
        security: DEBUG

